# CloudBase 凭据（云数据库访问）。正式/长期运行建议替换为你的 SecretId/SecretKey（非临时）
TENCENTCLOUD_SECRETID=
TENCENTCLOUD_SECRETKEY=
TENCENTCLOUD_SESSIONTOKEN=
TENCENTCLOUD_ENV=amumu-d8gqz038oab87f530
TENCENTCLOUD_REGION=ap-shanghai
